{{define "Title"}}Login{{end}}

{{define "JavaScript"}}
{{end}}	

{{define "content"}}

  <div class="mdl-cell mdl-cell--2-col">
  </div>

  <div class="mdl-cell mdl-cell--8-col">

    <form class="form-signin" method="post" action="login">

      <div class="mdl-card mdl-color--white mdl-shadow--2dp" id="loginBox">

        <div class="mdl-card__title mdl-card--expand" id="inputBlock">
          <h5> Please Login </h5>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="inputEmail" name="email" autofocus>
            <label class="mdl-textfield__label" for="inputEmail">Login ID...</label>
          </div>
 
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" id="inputPassword" name="password">
            <label class="mdl-textfield__label" for="inputPassword">Password...</label>
          </div>

        </div>
        <div class="mdl-card__actions mdl-card--border text-right cardAction">

          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          Login
          </button>

        </div>
      </div>
    </form>
  </div>

  <div class="mdl-cell mdl-cell--2-col">
  </div>

{{end}}
