{{define "JavaScript"}}
<script src="/static/js/marked.min.js"></script>
<script src="/static/js/highlight.pack.js"></script>
<script src="/static/js/markdown.js"></script>
{{end}}

{{define "menu"}}
  <div class="row">
    <div class="col-xs-6">
    <form action="#" method="post">
        <input type="text" name="Name" value="{{.Memo.Name}}" />
        <textarea name="Content" id="editor" class="form-control">{{.Memo.Content}}</textarea>
        <button type="submit" class="btn btn-success">Save</button>
    </form>

    </div>

    <br/>
    <br/>
    <div class="col-xs-6" style="background-color:white;!important;">
        <div id="result" style="width:100%;min-height:200px;"></div>
    </div>
  </div>
{{end}}
