{{define "activeMenu"}}markdown{{end}}

{{define "JavaScript"}}
<script src="/static/js/marked.min.js"></script>
<script src="/static/js/highlight.pack.js"></script>
<script src="/static/js/markdown.js"></script>
{{end}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <textarea id="editor" class="form-control"></textarea>
    </div>
    <div class="col-xs-6">
    <div id="result" style="background-color:white;"></div>
    </div>
  </div>
</div>
{{end}}
