<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<script src="/static/js/jquery-1.11.2.min.js"></script>
<script src="/static/js/marked.min.js"></script>
<script src="/static/js/highlight.pack.js"></script>

<script>
$(function() {
    marked.setOptions({
        langPrefix: ''
    });

    $('#editor').keyup(function() {
        var src = $(this).val();
        var html = marked(src);
        $('#result').html(html);
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    });
});
</script>

<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
<style>
textarea {
   resize: vertical;
   min-height: 500px;
   font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}
</style>

</head>
<body>
<div class="container">
<div class="row">
<div class="col-xs-6">
<textarea id="editor" class="form-control"></textarea>
</div>
<div class="col-xs-6">
<div id="result"></div>
</div>
</div>
</div>
</body>
</html>
