{{define "Title"}}Speak{{end}}

{{define "JavaScript"}}
    <script src="/static/js/desktop-notify-min.js"></script>
    <script src="/static/js/chat.js"></script>
{{end}}

{{define "content"}}

<div id="speakCard" class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title speakTitle">
    <h2 class="mdl-card__title-text" id="speakTitle">Dashboard</h2>
    <span for="speakTitle" class="mdl-tooltip"id="Description">適当に喋りましょう！</span>
  </div>

  <div class="mdl-card__supporting-text" id="inputSpeak">

    <textarea id="speakTxt" class="form-control" rows="3" placeholder="現在の課題をしゃべりましょう" tabindex="1"></textarea>

  </div>
  <div class="mdl-card__actions mdl-card--border rightFooter">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="speakBtn" tabindex="2">
<i class="material-icons">chat</i>Speak
    </a>
  </div>

  <div class="mdl-card__menu" id="speakFile">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" tabindex="3">
      <i class="material-icons">attach_file</i>
    </button>
  </div>
</div>

<input type="hidden" id="userId" name="userId" value="{{.User.Id}}"/>
<input type="hidden" id="category" name="category" value="Dashboard"/>
<input type="hidden" id="lastedId" name="lastedId" value=""/>

<div class="list-group" id="speakList">

  <div id="speakArea"></div>

  <button class="mdl-button mdl-js-button mdl-button--colored" id="updateBtn">
    <i class="material-icons">autorenew</i>
  </button>
  <span for="updateBtn" class="mdl-tooltip mdl-tooltip--top">もっと古いものを読み込みます</span>

</div>

<input type="file" id="uploadFile" name="uploadFile" class="hiddenUpload">

{{end}}
