{{define "menu"}}

        <header class="drawer-header">

          <img class="avatar" src="/static/images/icon/{{ .User.Id }}" 
               onerror="if (this.src != '/static/images/icon/nobody.png') this.src = '/static/images/icon/nobody.png';">

          <div class="avatar-dropdown">
            <span>{{.User.Name}}</span>
            <div class="mdl-layout-spacer"></div>

            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item"><a href="/me">{{.User.Name}}</a></li>
              <li class="mdl-menu__item"><a href="/logout">Logout</a></li>
            </ul>

          </div>

        </header>

        <nav class="navigation mdl-navigation mdl-color--blue-grey-800">


{{if .User.IsSpeaker}}
          <a class="mdl-navigation__link" href="/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Speaks</a>
          <ul id="CategoryUL">
          </ul>
{{end}}

          <div class="mdl-layout-spacer"></div>

<!--
  <a class="mdl-navigation__link" href="/category"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Category</a>
-->

{{if .User.IsAdmin}}
  <a class="mdl-navigation__link" href="/user"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>User</a>
  <a class="mdl-navigation__link" href="/database"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Database</a>
{{end}}

          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>

        </nav>

{{end}}
